<div class="row">
  <div class="col-xs-12">
      <img src="<%=gif.url%>" class="img-responsive center-block" alt="No Gif Found!!!"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 gif-<%=gif.id%> gif-text">
    <p><strong>Submitted by: </strong><%=gif.user.email%>, <em><%= time_ago_in_words(gif.created_at)%> ago</em></p>
    <% if gif.url %>
      <p><strong>Source: </strong><%=link_to gif.url, gif.url %></p>
    <% end %>
    <p><strong>Tags: </strong><%= raw tag_links(gif.all_tags) || "N/A" %></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 vote-<%=gif.id%> vote-modal">
    <p><strong>Vote:</p>
    <%=render :partial => 'gifs/votelinks', :remote => true, :display => "show", :locals => {:gif => gif} %>
  </div>
</div>
